:root {
	--font-family-main: 'Raleway', sans-serif;
		

	// size
	 --font-size-s: 15px;
	 --font-line-s: 21px;
	 --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

	 --font-size-m: 17px;
	 --font-line-m: 23.8px;
	 --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

	 --font-size-l: 20px;
	 --font-line-l: 28px;
	 --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

	 --font-size-header-s: 25px;
	 --font-line-header-s: 35px;

	 --font-size-header-m: 40px;
	 --font-line-header-m: 44px;

	 --font-size-header-l: 55px;
	 --font-line-header-l: 60.5px;
	 --font-header-l: var(--font-size-header-l) / var(--font-line-header-l) var(--font-family-main);
}