.Modal {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 10;
	opacity: 0;
	pointer-events: none;
	z-index: -1;
}

.overlay {
	width: 100%;
	height: 100%;
	background: #6e9c9fab;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content {
	padding: 20px;
	border-radius: 12px;
	background: #FFFFFF;
	transition: 0.3s transform;
	transform: scale(0.5);
	max-width: 60%;
}

.opened {
	pointer-events: auto;
	opacity: 1;
	z-index: 10;

	.content{
		transform: scale(1);
	}
}

.isClosing {
	.content {
		transform: scale(0.2);
	}
}