.Button {
	cursor: pointer;
}

.view_one {
	width: 243px;
	height: 68px;
	border: 2px solid #6E9C9F;
	color: #6E9C9F;
	// border: #6E9C9F;
	// border-color: #6E9C9F;
}
.view_one:hover {
	background-color: #6E9C9F;
	border: 2px solid #6E9C9F;
	color: #FFFF;
}

.view_two {
	width: 243px;
	height: 68px;
	background-color: #6E9C9F;
	border: 2px solid #6E9C9F;
	color: #FFFF;
}

.view_two:hover {
	background-color: #509498;
	color: #FFFF;
}
