.navbar {
	display: flex;
	padding: 3px 170px 4px 146px;
	// justify-content: center;
	// margin-left: 146px;
	// margin-right: 170px;
	
	// align-items: flex-end;
}

.list{
	display: flex;
	gap: 45px;
	justify-content: center;
}

.link {
	font: var(--font-s);
	white-space: nowrap;
}

// .link {
// 	background-color: rgb(124, 114, 114);
// }