.container {
	width: 350px;
	height: 350px;
}

.window{
	width: 100%;
	height: 100%;
	// overflow: scroll;
	overflow: hidden;
}

.items {
	height: 100%;
	display: flex;

	transition: translate;
	transition-property: transform;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}

.img {
	width: 350px;
	height: 100%;
    display: flex;
}

