.CallLogo{
	margin: 3px 9px 4px 0px;
}

.CallForm {
	width: 291px;
	height: 303px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: left;
}

.input {
	border-bottom: solid;
	border-width: 1px;
	border-color: #000000;
	color: #509498;
	white-space: nowrap;
}
